* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: #d5f4a0; */
  background-image: url('./images/Football-ground.jpg');
  background-repeat: inherit;
  opacity: 90%;
}

img {
  width: 250px;
  height: 200px;
  border-radius: 50%; 
}

img:hover {
 border: solid 3px #f3eff2;
}

.heading-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f98b8b;
  height: 100px;
  font-family: monospace;
  font-size: 20px;
  color: rgb(211, 245, 20);
}

ul li {
  text-decoration: none;
}

.sub-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #818cf5;
  height: 50px;
  font-family: monospace;
  font-size: 20px;
  color: rgb(211, 245, 20);
  text-transform: uppercase;
}

.sub-heading:hover {
  background-color: #f93ca4;
  font-size: 30px;
  color: aliceblue;
}


.image-container {
  position: relative;
  display: inline-block;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./images/Ronaldo.jpg');
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50%;
  border: solid 3px #f3eff2;
}

.image-container:hover::after {
  opacity: 1;
}

.img-container img {
  display: block;
  width: 100%;
  height: auto;
}

.img-container:hover img {
  border: solid 3px #f3eff2;
}

.see-more {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  background-color: #7f35f6;
  border-radius: 5px;
}

.image-container-messi {
  position: relative;
  display: inline-block;
}

.image-container-messi::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./images/MessiPp.jpg');
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50%;
  border: solid 3px #f3eff2;
  width: 250px;
  height: 200px;
  border-radius: 50%; 
}

.image-container-messi:hover::after {
  opacity: 1;
}

.img-container-messi img {
  display: block;
  width: 100%;
  height: auto;
}

.img-container-messi:hover img {
  border: solid 3px #f3eff2;
}

.name-player{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  background-color: #6bbcff;
  margin-left: 80px;
}